.container {
  height: 100%;
  width: 300px;
  margin: 20px auto;

  .header {
    color: wheat;
    text-align: center;
    padding: 20px;
  }
}

.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: blue;
}

.bg-green {
  background-color: green;
}
