.bg-blue {
  background-color: blue;
}

.children {
  margin: 0 auto;
  position: relative;

  .child {
    // position: absolute;
    height: 100px;
    width: 100px;
    background-color: lightcoral;
    text-align: center;
    border: 2px solid #000;
    display: inline-block;
    margin: 20px 100px;
    padding: 20px;
    border-radius: 50%;
  }
}
